* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    }

html 
{
background-color: beige;
margin: 0px;
}
ul 
{
    list-style-position: inside;
    text-align: top;
    }
body 
{
    background-image: url("../class-information/android-chrome-256x256.png");
}
h1 
{
 color: rgb(95, 95, 94);
 text-align: center;
    margin: 0px;
    background-color: rgb(34, 34, 31);
    border: rgb(26, 25, 25);
    border-top-style: double;
    border-bottom-style: double;
    border-width: 7px;
}
h2
{
    color: rgb(95, 95, 94);
    text-align: center;
    margin: 0px;
    background-color: rgb(34, 34, 31);
    border: rgb(26, 25, 25);
    border-top-style: double;
    border-bottom-style: double;
    border-width: 7px;
}
.titles
{
    text-align: center;
    margin: 0px;
    background-color: rgb(34, 34, 31);
    border: rgb(26, 25, 25);
    border-top-style: double;
    border-bottom-style: double;
    border-width: 7px;
}
.table
{
    padding-left: 35%;
    
}
.name 
{
    color: rgb(95, 95, 94);
}
#my-photo
{

}

.links
{

}
.container
{

}